

#navigation{
	border-radius:none;
	background-color:white;
	drop-shadow:2px 2px 8px 4px black;
	position:fixed;
	color:white;
	width:100%;
	height:100px;
	z-index:2;

}


button{
	height:50px;
	width:50%;
	text-align:center;
	border-radius:none;
	color:white;
	font-size:18px;
}




#navigation li{
	list-style-type:none;
	display:inline-block;
	margin-top:40px;
	margin-left:10%;
	font-size:18px;
}


a:hover{
	color:white;
}

a:active{
	color:white;
}

#main-h1{
	font-size:18px;
	line-height:50px;
	margin-top:10%;
	
	
}

#main{
	width:100%;
	height:600px;
}

#illustration{
	float:right;
}

#main-h2{
	text-align:center;
}

#header ul{
	margin-left:10%;
}

#app1{
	
	padding:10%;
}

#main-button{
	display:inline-block;
	margin-top:20%;
	background-color:black;
	text-align:center;
	
}

#app1 h1{
	font-size:40px;
}

#app1 p{
	margin-top:20%;
	font-size:18px;
	line-height:50px;
}

#app1 button{
	margin-top:20%;
	background-color:black;
}

#app2{
   padding:10%;
}

#app2 img{
	height:700px;

}

#app3 img{
	padding:10%;
	width:100%;
}

#app4{
	padding:5%;
}

#app4 p{
	line-height:50px;
	padding-top:10%;
	font-size:18px;
}

#app4 button{
	background-color:black;

	margin-top:10%;
}

#app6 img{
	height:500px;
}



#app5{
	padding:10%;
}

#app5 p{
	padding-top:10%;
	line-height:50px;
	font-size:18px;

}

#app5 button{
	margin-top:10%;
	background-color:black;
}

#app8 p{
	padding-top:10%;
	line-height:50px;
	font-size:18px;

}

#app8 button{
	background-color:black;
	margin-top:10%;
}

#app7 img{
	height:400px;
}

#casestudies{
	margin-top:10%;
}

#details p{
	font-size:18px;
}

footer{
	background-color:black;
	height:200px;
}

#yogatopia{
	padding:10%;
}

#details{
	margin:4%;
	font-family: 'DM Serif Text', serif;
}

#details p{
	font-family:'Montserrat', sans-serif;
}

#casestudy h2{
	margin-top:5%;
	font-family: 'DM Serif Text', serif;
}

#casestudy p{
	font-size:18px;
	font-family:'Montserrat', sans-serif;
	
}

#yogatopiacasestudy p{
	font-family:'Poppins', sans-serif;
	font-size:18px;
}

#yogatopiacasestudy h2{
	font-family:'Poppins', sans-serif;
	margin-top:10%;
	margin-bottom:3%;
}

#screenshots{
	width:75%;
	margin:3%;
	margin-left:10%;

}

#secondaryresearchyogatopia{
	margin:4%;
}

#screener{
	margin:4%;
	display:inline-block;
	margin-left:10%;
}

#affinitydiagram-2{
	width:75%;
	margin:4%;
	margin-left:15%;
	display:inline-block;
	
}

.poppins{
	font-family:'Poppins', sans-serif;
}

#userpersona{
	width:75%;
	margin:4%;
	margin-top:5%;
	margin-left:15%;
}

#ideate p{
	padding-top:4%;

}

#howmightwe p{
	padding-top:4%;
}

#interviews{
	margin-top:10%;
}

#persona{
	margin-top:10%;
	margin-bottom:4%;
}

#userstoriesheading{
	margin-bottom:4%;
}

#userstories p{
	margin-top:5%;
}

#informationarchitecture p{
	margin-top:5%;
}

#informationarchitecture img{
	margin:4%;
	margin-left:10%;
}

#testing{
	margin-top:10%;
}

#testing-text{
	margin-top:4%;
}

#wireframes-text{
	margin-top:4%;
}

#designsystem{
	width:75%;
	margin:4%;
	margin-left:15%;
}

#designsystem-heading{
	margin-top:10%;
}

#wireframes-heading{
	margin-top:10%;
}

#usabilitytesting-heading{
	margin-top:10%;
}

#wireframes{
	margin:4%;
	margin-left:7%;
}

#usabilitytesting{
	margin-top:4%;
	margin-left:10%;
}

#codewise{
	font-size:18px;
}

#house2home{
	padding:10%;
}

#problem{
	padding:4%;
	border-left:1rem solid teal;
}

#ally{
	margin:4%;
	
}

.header{
	text-align:center;
	margin-bottom:4%;
	padding-top:10%;
  }

#enhance{
	font-size:40px;
	padding:1%;
	font-weight:bold;
	font-family: 'DM Serif Text', serif;
}

#h2hcollage{
	margin:4%;
	margin-left:10%;

}

#map{
	margin:4%;
	margin-left:20%;
}

#sketches{
	width:75%;
	margin:4%;
	margin-left:25%;
}

#competitiveanalysis{
	margin:4%;
	margin-left:10%;
}

#h2htesting{
	margin:4%;
	margin-left:10%;
}

#spiritcasestudy{
/*   text-align:center;*/
	margin:10%;
	margin-top:15%;

}

#spirit-details{
	margin-left:10%;
}

#spirit-details p{
	font-size:18px;
}

.spiritcontainer{
	padding:10%;
}

.spiritcontainer p{
	font-size:18px;
	line-height:50px;
	margin:4%;
	
}

.spiritcontainer h2{
	font-size:40px;
	line-height:70px;
	font-family: 'Elsie', serif;
}

#marketresearch{
	margin-top:4%;
}

#container2{
	margin-top:-10%;
}

#container2 h2{
	
}

#container2 p{
	margin-top:50%;
}

#container3 h2{
	text-align:center;
	margin-top:-10%;
}

#container3 p{
	text-align:center;

}

.spirit-heading{
	text-align:center;
	font-family: 'Elsie', serif;
}

#ca_screenshots{
	margin-left:15%;
}

#designsystem_screenshots{
	margin-left:15%;
	width:75%;
}

#designsystem{
	margin-top:15%;
}

#userflows-heading{
	margin-top:20%;
}

#userflows_screenshots{
	margin-top:10%;
	margin-left:20%;
	width:75%;
}

#spiritwireframes{
	margin-top:15%;
}

#spiritwireframes_screenshots{
	margin-left:15%;
	margin-top:10%;
}

#prototype-heading{
	margin-top:10%;
}

#spiritbutton{
	width:300px;
	margin-top:4%;
	margin-left:40%;
	color:white;
	background-color:red;
}

